.img-plan1{
  background: url(../images/29.jpg)no-repeat center center/cover;
  height: 250px;
}

.img-plan2{
  background: url(../images/31.jpg)no-repeat center center/cover;
  height: 250px;
}

.img-plan3{
  background: url(../images/28.jpg)no-repeat center center/cover;
  height: 250px;
}