.img-surroundings-list1{
  background: url(../images/01.jpg)no-repeat center center/cover;
  height: 350px;
}
.img-surroundings-list2{
  background: url(../images/02.jpg)no-repeat center center/cover;
  height: 350px;
}
.img-surroundings-list3{
  background: url(../images/22.jpg)no-repeat center center/cover;
  height: 350px;
}
.img-surroundings-list4{
  background: url(../images/27.jpg)no-repeat center center/cover;
  height: 350px;
}
.img-surroundings-list5{
  background: url(../images/10.jpg)no-repeat center center/cover;
  height: 350px;
}


// 課程推薦
.img-suggest1{
  background: url(../images/09.jpg)no-repeat center center/cover;
  height: 196px;
}
.img-suggest2{
  background: url(../images/24.jpg)no-repeat center center/cover;
  height: 196px;
}
.img-suggest3{
  background: url(../images/26.jpg)no-repeat center center/cover;
  height: 196px;
}
.img-suggest4{
  background: url(../images/29.jpg)no-repeat center center/cover;
  height: 196px;
}
.img-suggest5{
  background: url(../images/15.jpg)no-repeat center center/cover;
  height: 196px;
}
.img-suggest6{
  background: url(../images/25.jpg)no-repeat center center/cover;
  height: 196px;
}
.img-suggest7{
  background: url(../images/30.jpg)no-repeat center center/cover;
  height: 196px;
}
.img-suggest8{
  background: url(../images/02.jpg)no-repeat center center/cover;
  height: 196px;
}