<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <header class="bg-tertiary">
      <div class="container d-flex justify-content-between align-items-center py-3">
        <!-- 標題 -->
        <h1 class="mb-0"><a href="./index.html"><img src="./assets/images/DOYOGA-logo.png" alt="DOYOGA"></a></h1>
  
        <!-- 主要選單 -->
        <ul class="d-flex list-unstyled mb-0">
          <li><a href="#" class="me-5 link-dark fw-light text-decoration-none">課程介紹</a></li>
          <li><a href="#" class="me-5 link-dark fw-light text-decoration-none">瑜伽空間</a></li>
          <li><a href="#" class="link-dark fw-light text-decoration-none">當月課表</a></li>
        </ul>
  
        <!-- 行動選單 -->
        <ul class="d-flex list-unstyled mb-0">
          <li><a href="#" class="btn btn-outline-secondary rounded-pill fw-light me-3">立即預約</a></li>
          <li><a href="#" class="btn btn-outline-secondary rounded-pill fw-light">聯絡我們</a></li>
        </ul>
      </div>
    </header>
    

    <%- contents %>

    
    <footer class="bg-secondary">

      <!-- 信箱訂閱 -->
      <div class="container border-bottom">
        <div class="row py-5">
          <div class="col-8">
            <h2 class="fs-3 text-light">現在訂閱，獲得課程優惠碼！</h2>
          </div>
          <form class="col-4 d-flex">
            <input type="email" name="email" id="email" placeholder="請輸入您的信箱" class="form-control">
            <input type="submit" value="訂閱" class="btn btn-primary text-light">
          </form>
        </div>
      </div>

      <!-- Footer -->
      <div class="container d-flex justify-content-between py-5">
        
        <!-- 資訊欄 -->
        <nav>
          <h3><a href="./index.html"><img src="./assets/images/DOYOGA.png" alt="DOYOGA"></a></h3>

          <ul class="list-unstyled">
            <li><a href="#" class="link-light text-decoration-none">課程介紹</a></li>
            <li><a href="#" class="link-light text-decoration-none">瑜伽空間</a></li>
            <li><a href="#" class="link-light text-decoration-none">當月課表</a></li>
          </ul>
        </nav>

        <!-- Copyright -->
        <p class="mb-0 text-light align-self-end">© 2021. All Rights Reserved.</p>

        <!-- SNS -->
        <ul class=" d-flex list-unstyled">
          <li class="me-2"><a href="#"><i class="fab fa-facebook fs-4 text-light"></i></a></li>
          <li class="me-2"><a href="#"><i class="fab fa-instagram fs-4 text-light"></i></a></li>
          <li><a href="#"><i class="fab fa-line fs-4 text-light"></i></a></li>
        </ul>
      </div>
    </footer>


    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>